.authorization {
    .row.equal {
        border: 2px dashed #e6dddd;
        border-radius: 10px;
        box-shadow: 0 0 0 7px #f5f4f4,2px -2px 9px 2px rgba(10,10,0,0.5);
        padding: 1px;
        margin: 10px;
        background: url(/images/asfalt-dark.png) #f5f5f5;
        .left {
            border-right: solid 1px #e6dddd;
            background: #fff;
            border-radius: 10px 0px 0px 10px;
            .inner {
                float: left;
                width: 100%;
                background: transparent;
                padding: 30px;
                height: 100%;
                img#owl {
                    margin: 0 auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                h3 {
                    border-bottom: solid 1px #e4e4e4;
                    padding-bottom: 10px;
                    border-top: solid 1px #e4e4e4;
                    padding-top: 10px;
                    color: #c5c5c5;
                }
            }
        }
        .right {
            .inner.line_c {
                float: left;
                width: 100%;
                background: transparent;
                padding: 30px;
                height: 100%;
                .auth {
                    border-radius: 10px;
                    box-shadow: 0 0 0 4px #f5f5f5,2px 1px 6px 4px rgba(10,10,0,0.13);
                    padding: 20px;
                    margin: 0 auto;
                    background: #ffffff;
                    position: relative;
                    z-index: 9;
                    max-width: 500px;
                    margin: 0 auto;
                    padding: 20px;
                    box-shadow: 0 0 20px #ccc;
                    .btn.btn-primary {
                        background-color: #ff8b6c;
                        border:none;
                    }
                }
            }
        }
    }
}
.g-recaptcha {
    width: 302px;
    margin: 0 auto;
}
.btn-social {
    width: 49.2%;
    color: #fff;
    margin: 5px auto;
    display: inline-block;
    text-shadow: 0 0 8px #b3b3b3;
    margin-bottom: 22px;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    i {
        margin-right: 2px;
    }
}
.btn-f {
    background-color: $fb;
    &:hover {
        background-color: $fb;
    }
}
.btn-g {
    background-color: $ggl;
    &:hover {
        background-color: $ggl;
    }
}