.dashboard{
}


.ribbon{
	padding: 20px;
	margin: 30px 0;
	text-align: center;
	font-size: 46px;
	background: #1d75a1;
	color: #fff;
}

#emal{
	.col{
		padding: 0;
	}
	.active{
		background: #006495;
		color: #fff;
	}
	.emailSel{
		border: 2px solid #eee;
		height: 159px;
		padding: 4px;
		cursor: pointer;
		margin: 5px;
	}
}

.hidden{
	display:none;
}