
#myNavbar{
	    order: 2;
    display: flex !important;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
        flex-flow: inherit;
}

#bell{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width:100vw;
	height:100vh;
	background: #fff;
	padding: 20px;
	z-index: 300;
	.rang{
		text-align: center;
		font-size: 22px;
		text-decoration: underline;
		margin-bottom: 24px;
	}
	.ring,.rang{
		display: block;
		font-size: 17px;
		padding: 4px;
	}
	.clbell{
		position: absolute;
		right: 21px;
		top: 0;
		z-index: 200;
		padding: 10px;
		font-size: 23px;
		cursor:pointer;
	}
	.inn{
		display: block
	}
}


#notifications{
	h1{
		text-align: center;
		color: #006495;
		font-weight: bold;
	}
	.ring{
		display: block;
		font-size: 15px;
		padding: 2px;
	}
}




nav.custom-nav{
	margin-bottom:0;
	background-color:none !important;
	/*box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.31);
	border-color:#bbbbbb;*/
	transition: top 0.25s ease-out;
	-webkit-transition:top 0.25s ease-out;
	-moz-transition:top 0.25s ease-out;
	-o-transition:top 0.25s ease-out;
	margin-top:40px;
	height:80px;


			.container{
			   display: flex !important; 
		     justify-content: space-between; 
		     align-content: center; 
		     align-items: center; 
		     height: 100%;
		    border-radius: 2px;
		    border-color: #ebebeb;
		    background-color: #ffffff;
		    box-shadow: 0 0 10px rgba(0,0,0,.1);


.navbar-header{
	order: 1;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-basis: auto;
		.navbar-toggle{
			border-color:transparent !important;
			&:hover{
				background-color:transparent !important;
			}
			.icon-bar{
				background-color:#ff4618 !important;
			}
		}
	}










			}
	
	}
	
	
	.navbar-nav{
		li{
			a{
color: #2b2b2b !important;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;


    				&:hover{
					color:#ff6745 !important;
					background-color:transparent !important;
				}
				&:focus{
					color:#777 !important;
					background-color:transparent !important;
				}
			}
			#star{
				position: absolute;
				top: 10px;
				right: 10px;
				color: #006495;
			}
		} 
		}
	.navbar-no-height{
    height:50px !important;
	}
	.navbar-no-height .container{
	    box-shadow: 0 0 0px rgba(0,0,0,0)  !important;

	}
.navbar-brand-small{
	    font-size:26px !important;
	    color:#ff8b6c !important;

	}
	.navbar-brand{
		
    font-size: 30px;
	 color:#253939;
    letter-spacing: 0.5px;
    font-weight:700	;
        z-index: 123;
font-family: 'Titillium Web', sans-serif;

 
}
.navbar-brand:hover{
		color:#fe8b6c;
    

 
}
