#EditProfileForm,#ChangePasswordForm{
	display: none;
}

.profileImage{
	width:100px;
	height: 100px;
	object-fit: cover;
}

#profile{
	.side1{
		margin-top: 30px;
		text-align:center;
		.proimg{
			width: 200px;
			height: 200px;
		}
		.title{
			text-align: left;
			font-weight: bold;
			margin-top: 20px;
		}
	}
	#empty{
		background: #fff;
		text-align: center;
		padding:15px;
		margin-top:10px;
		width:100%;
		img{
			width: 200px;
		}
		a{
			display: block;
			width:140px;
			margin:10px auto;
		}
		.rco{
			margin: 12px 0;

			img{
				width: 100px;
				height: 100px;
			}
		}
	}
}

.userbox{
	display: block;
	text-align: left;
	position: relative;
	padding: 4px 0;
	overflow: hidden;
	img{
		height: 50px;
		width: 50px;
		border-radius:100%;
	}
	.name{
		position: absolute;
		top: 10px;
		left: 60px;
		font-size: 16px;
	}
	.bio{
		position: absolute;
		top: 28px;
		left: 60px;
		font-size: 13px;
		color: #666;
	}
}