@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600,700');


a{
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		color: inherit;
	}
}

h1,h2,h3,h4,h5,h6,b{
	font-family: 'Open Sans', sans-serif;
}

body{
	background:#eeeeee;
}

body,div,p,span,table{
	font-family: 'Open Sans', sans-serif;
}

.editorImage{
	max-width:400px;
	max-height:400px;
}

a{
	&:hover{
		text-decoration: none;
	}
}

img{
	max-width:100%;
}

#fold{
	
}

#drafted{
	background: #f7b239;
}

select[multiple], select[size] {
	height: 80vh;
}

.hide{
	display:none;
}

.ad{
	text-align:center;
}










/* gagan styling */

.gv-post-info .cat
p{
	font-size:15px;
	line-height: 23px;
}









@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

body{
	font-family: 'Josefin Sans', sans-serif;
}
p{
	line-height: 23px;
	padding:5px 0px;
	font-size:14px;
	letter-spacing:1px;
	word-spacing:1px;
	color:#000;
}
.color-orange{
	color:#fff;
	background-image:url(/images/people-2557396_1920.jpg);
	height:100vh;
	background-size:cover;
	position:relative;
}

.color-orange::before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #ff9c5f, #253939);
	opacity: .6; 
  }
.light-section{
	background:#e4e4e4;
	border-top:solid 1px #eaeaea;
	border-bottom:solid 1px #eaeaea;
}
.spacer { margin:0; padding:0; height:30px; float:left; width: 100%; }
.bottom-shadow{
	/*-webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.18);
	-moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.18);
	box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.18);*/
	border:solid 1px #e4e4e4;
}





.row.equal {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 768px){
.info-blk{
font-size:12px !important;
}
}
@media (max-width: 768px){
	.inner-wrapper{
		float:none !important;
	}
	.navbar-brand img{
		max-width: 85px;
	}
	
	.postbox .gv-post-info .info-blk{
		padding:5px !important;
		margin-right: 1px !important;
		margin-bottom: 2px !important;
	}
	#dropdownMenu1{
		padding:0px !important;
	}
	#dropdownMenu1 img{
		width: 12px !important;
	}
	.color-bg{
	font-size:10px !important;
	}
}


.testimonial-section{
	background-color:#fff;
}

.image-wrapper-block{
	display:block;
	height:150px;
}
.image-wrapper-block h2{

}



.gv-btn{
	background-color:#fe8b6c;
	color:#fff;
	border-radius:2px;
}
.gv-btn:hover{
	
}
.gv-btn:focus{
	
}



@media (min-width: 1200px) {
	
}

.testimonial-section .orange-text .fa{
	color:#ff6745;
}
.testimonial-section.visible-xs p{
	height:125px;
}


.showDivs{
	display:block !important;
}

.bottom-margin{
	margin-bottom:15px;
}
.createCate{
	
}


// .testi-animate{
// 	visibility: hidden;
// 	 opacity: 0.0;
// 	 position: relative;
// }











/* ANIMATIONS
============================================================================= */

/* logo */
.dd 						{ animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
.da 						{ animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
.dn 						{ animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
.dg 						{ animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
.de 						{ animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
.dr 						{ animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

.zz 						{ animation-delay:1.4s; -moz-animation-delay:1.4s; -webkit-animation-delay:1.4s; }
.zo 						{ animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
.zn 						{ animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
.ze 						{ animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }

/* sidebar */
#side-home 					{ animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
#side-about 				{ animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
#side-work 					{ animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#side-contact 				{ animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }

/* content */
#content 					{ animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#content img 			{ animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }






/* COMMENTING */

.panel-shadow.commenting {
}
.panel-white.commenting {
	border: 1px solid #fdfdfd;
}
.panel-white.commenting  .panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
}
.panel-white.commenting  .panel-footer {
	background-color: #fff;
	border-color: #ddd;
}

.post.commenting .post-heading {
	height: 95px;
	padding: 20px 15px;
}
.post.commenting .post-heading .avatar {
	width: 60px;
	height: 60px;
	display: block;
	margin-right: 15px;
}
.post.commenting .post-heading .meta .title {
	margin-bottom: 0;
}
.post.commenting .post-heading .meta .title a {
	color: black;
}
.post.commenting .post-heading .meta .title a:hover {
	color: #aaaaaa;
}
.post.commenting .post-heading .meta .time {
	margin-top: 8px;
	color: #999;
}
.post.commenting .post-image .image {
	width: 100%;
	height: auto;
}
.post.commenting .post-description {
	padding: 15px;
}
.post.commenting .post-description p {
	font-size: 14px;
}
.post.commenting .post-description .stats {
	margin-top: 20px;
}
.post.commenting .post-description .stats .stat-item {
	display: inline-block;
	margin-right: 15px;
}
.post.commenting .post-description .stats .stat-item .icon {
	margin-right: 8px;
}
.post.commenting .post-footer {
	border-top: 1px solid #ddd;
	padding: 15px;
}
.post.commenting .post-footer .input-group-addon a {
	color: #454545;
}
.post.commenting .post-footer .comments-list {
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
}
.post.commenting .post-footer .comments-list .comment {
	display: block;
	width: 100%;
	margin: 20px 0;
}
.post.commenting .post-footer .comments-list .comment .avatar {
	width: 35px;
	height: 35px;
}
.post.commenting .post-footer .comments-list .comment .comment-heading {
	display: block;
	width: 100%;
}
.post.commenting .post-footer .comments-list .comment .comment-heading .user {
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-top: 0;
	margin-right: 10px;
}
.post.commenting .post-footer .comments-list .comment .comment-heading .time {
	font-size: 12px;
	color: #aaa;
	margin-top: 0;
	display: inline;
}
.post.commenting .post-footer .comments-list .comment .comment-body {
	margin-left: 50px;
}





/* pininterest style */



.row.searchtheme {
	/* column width */
	-moz-column-width: 29em;
	-webkit-column-width: 29em;
	
	/* space between columns */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	.item {
		display: inline-block;
		width: 100%;
		background-color:#fff;
		margin-bottom:10px;
		.postbox{
			margin-bottom:0;
		}
	}
}
/* 
.limit_para	{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
max-height: 55px;     
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}
*/


.nav-up {
	top: -40px;
	background-color:#fff;
	    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.nav-up-1 {
	top: -40px;
	background-color:#fff;
	    box-shadow: 0 0 10px rgba(0,0,0,.1);
}







.ajax-load{
	background: #e1e1e1;
	padding: 10px 0px;
	width: 100%;
}

























.social-nav {
    display: block;
    font: 13px Helvetica, Tahoma, serif;
    text-transform: uppercase;
    margin: 0; 
    padding: 0;
}

.social-nav li {
    display: inline-block;
    list-style: none;
}

.social-nav .button-dropdown {
    position: relative;
}

.social-nav li a {
    display: block;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.social-nav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

.social-nav li a:hover, .nav li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: #fff;
}

.social-nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}

.social-nav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

.social-nav li .dropdown-menu.active {
    display: block;
}

.social-nav li .dropdown-menu a {
    width: 150px;
}

.dropdown-menu.social .dropdown-menu > li > a {
  display: block;
  padding: 3px px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}



.dropdown-menu.social {
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    display: block;
}
.open .dropdown-menu.social {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
}

ul.categ { 
    height: 30px;
    width: 150px;
    border: 1px #000 solid;
}
ul.categ li { padding: 5px 10px; z-index: 2; }
ul.categ li:not(.init) { float: left; width: 130px; display: none; background: #ddd; }
ul.categ li:not(.init):hover, ul.categ li.selected:not(.init) { background: #09f; }
ul.categ li.init { cursor: pointer; }

a#submit { z-index: 1; }







.top-bar{
	float:left;
	width:100%;
	background-color:#fff;
	padding:10px;

border:solid 1px #dedede;
border-radius:2px;
}


